In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.master('local[1]')\
                            .appName("SparkLearning")\
                            .getOrCreate()

### List of Dictionary to spark Dataframe

In [3]:
dic = [{'name':'Tareq','age':28}, {'name': 'Mariom', 'age': 25}]

In [4]:
df = spark.createDataFrame(dic)

In [5]:
df.show()

+---+------+
|age|  name|
+---+------+
| 28| Tareq|
| 25|Mariom|
+---+------+

### List of Touple to Spark Dataframe

In [10]:
example_touples = [('Tareq', 28), ('Mariom', 25)]

In [11]:
columns =['name', 'age']

In [12]:
dfFromData2 = spark.createDataFrame(example_touples).toDF(*columns)

In [13]:
dfFromData2.show()

+------+---+
|  name|age|
+------+---+
| Tareq| 28|
|Mariom| 25|
+------+---+